/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* begin styling */

.container{
    margin: auto;
    width: 1024px;
}

.header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 25px 0px;
}

nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: gray;
    text-decoration: none;
}

#big{
    margin-bottom: 30px;
}

.top{
    margin-bottom: 40px;
}

.top h1{
    font-size: 36px;
    text-align: center;
}

main{
    width: 800px;
    margin: 5% auto;
}

.form-area{
    display: flex;
    background: rgb(231, 229, 229);
    border-radius: 6px;
    padding: 20px;
}

.msg-area{
    display: flex;
    flex-direction: column;
    order: 2; /*controls the order in which the item appears in the container*/
}

.msg-area > textarea{
    flex: 1; /*set the textarea to grow larger than the other items as needed. default is 0*/
    min-width: 20px;
    background: transparent;
    color: #fff;
    padding: 15px;
}

.details-area{
    flex: 1;
    order: 1;
    margin-right: 20px;
}

.details-area input{
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 6px;
}

.details-area input, button{
    padding: 8px;
    margin-bottom: 20px;
}

.details-area button{
    background: rgb(31, 140, 241);
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 6px;
    font-size: 16px;
}

label{
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
}

footer{
    text-align: center;
    margin: 50px 0px; 
}